
# IntelliJ IDEA
.idea/
*.iml
out/
.mvn/

# Compiled files
*.class

# Maven build output
target/


# Logs
*.log
*.tmp
*.swp

# OS
.DS_Store
Thumbs.db


# pdf's , asignaciones
docs/moodle
docs/.obsidian

# code snippets screenshots
*.png
!docs/screenshots/*.png
